:root {
	--main-color: #edd63d;
        --main-dark-color: #3d3c00;
        --main-light-color: #ffffe7;
	--main-text-color: #3d3c00;
}
.dark-mode {
	--main-color: #edd63d;
        --main-dark-color: #ffffe7;
        --main-light-color: #3d3c00;
	--main-text-color: #3d3c00;
}
@media (prefers-color-scheme: dark) {
	:root {
		--main-color: #edd63d;
        	--main-dark-color: #ffffe7;
        	--main-light-color: #3d3c00;
		--main-text-color: #3d3c00;
	}
	.dark-mode {
		--main-color: #edd63d;
        	--main-dark-color: #3d3c00;
        	--main-light-color: #ffffe7;
		--main-text-color: #3d3c00;
	}
}
header {
	display: flex;
        background-color: var(--main-color);
        color: var(--main-text-color);
        position: fixed;
	align-items: center;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
}
a.blog {
	display: flex;
	text-decoration: none;
	-webkit-user-select: none;
	position: absolute;
	color: inherit;
	height: inherit;
	padding: 14px;
	box-sizing: border-box;
	width: 100px;
	left: 125px;
	text-align: center;
	justify-content: center;
	align-items: center;
}
a.blog:hover {
	color: var(--main-color);
	background: var(--main-light-color);
}

button.material-icons-outlined {
	-webkit-user-select: none;
	color: var(--main-text-color);
	background-color: transparent;
	font-size: 50px;
	border: none;
	cursor: pointer;
	position: absolute;
	right: 0;
}
a.home {
	text-decoration: none;
	-webkit-user-select: none;
	color: var(--main-text-color);
	position: absolute;
	margin: 10px;
}
body {
	position:relative;
	display: flex;
	flex-direction: column;
        background-color: var(--main-light-color);
        font-family: "Josefin Sans", sans-serif;
	font-size:25px;
        color: var(--main-dark-color);
	text-align: center;
        overflow-x: hidden;
	align-items: center;
	margin: auto;
	top: 115px;
	line-height: 1.5;
	justify-content: space-around;
	min-height: 100%;
}
.welcome {
        text-align: center;
       	font-size: 50px;
	font-weight: 500;
}
a.welcome:link, a.welcome:visited, a.welcome:hover, a.welcome:active {
	color: var(--main-dark-color);
	text-decoration: underline;
	font-size: 50px;
	font-weight: 500;
}
a.link:link, a.link:visited, a.link:hover, a.link:active {
	color: var(--main-text-color);
	text-decoration: underline;
}
a.button:link, a.button:visited, a.button:active {
	background-color: var(--main-color);
	color: var(--main-text-color);
	font-size: 50px;
	font-weight: 500;
	text-decoration: none;
	padding: 25px;
	border-radius: 25px;
	margin: 25px;
}
a.distracted:link, a.distracted:visited, a.distracted:hover, a.distracted:active {
	color: var(--main-text-color);
}
div.blog {
	top: 25px;
	position: relative;
	background-color: var(--main-color);
	color: var(--main-text-color);
	padding: 25px;
	width: 75%;
	height: 25%;
	margin-bottom: 50px;
	align-items: left;
	text-align: left;
}
div.title {
	font-size: 35px;
	font-weight: 500;
}
img {
	z-index: -1;
}
footer {
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	width: 125%;
	bottom: 0;
	font-family: League Spartan;
	background-color: var(--main-color);
	color: var(--main-text-color);
}
