:root {
	--main-color: #edd63d;
        --main-dark-color: #3d3c00;
        --main-light-color: #ffffe7;
	--main-text-color: #3d3c00;
}
.dark-mode {
	--main-color: #edd63d;
        --main-dark-color: #ffffe7;
        --main-light-color: #3d3c00;
	--main-text-color: #ffffe7;
}
@media (prefers-color-scheme: dark) {
	:root {
		--main-color: #edd63d;
        	--main-dark-color: #ffffe7;
        	--main-light-color: #3d3c00;
		--main-text-color: #ffffe7;
	}
	.dark-mode {
		--main-color: #edd63d;
        	--main-dark-color: #3d3c00;
        	--main-light-color: #ffffe7;
		--main-text-color: #3d3c00;
	}
}
header {
	display: flex;
        background-color: var(--main-color);
        color: var(--main-light-color);
        position: fixed;
	align-items: center;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
}
a.blog {
	display: flex;
	text-decoration: none;
	-webkit-user-select: none;
	position: absolute;
	color: inherit;
	height: inherit;
	padding: 14px;
	width: 100px;
	left: 125px;
	text-align: center;
	align-items: center;
}
a.blog:hover {
	color: var(--main-dark-color);
	background: var(--main-light-color);
}

button.material-icons-outlined {
	-webkit-user-select: none;
	color: var(--main-light-color);
	background-color: transparent;
	font-size: 50px;
	border: none;
	cursor: pointer;
	position: absolute;
	right: 0;
}
a.home {
	text-decoration: none;
	-webkit-user-select: none;
	color: var(--main-color);
	position: absolute;
	margin: 10px;
}
body {
	position:relative;
        background-color: var(--main-light-color);
        font-family: "Josefin Sans", sans-serif;
	font-size:25px;
        color: var(--main-text-color);
	text-align: center;
        overflow-x: hidden;
	top: 115px;
	line-height: 1.5;
}
div.welcome {
        text-align: center;
       	font-size: 50px;
	font-weight: 500;
}
img {
	transform: scale(1.25);
}
footer {
	justify-content: center;
	position: relative;
	width: 125%;
	left: -12%;
	bottom: 0;
	font-family: League Spartan;
	background-color: var(--main-text-color);
	color: var(--main-color);
}
